<template>
  <div id="app">
    <input type="number" v-model="search" placeholder="Search price.."/>
    <div class="count">count: {{count}}</div>
    <table>
      <thead>
        <tr class="header">
          <th>customer</th>
          <th>destination</th>
          <th>event</th>
          <th>id</th>
          <th>item</th>
          <th>price</th>
          <th>sent</th>
        </tr>
      </thead>
      <tr v-for='order in filteredList' :key='order.id' class='order'>
        <td>{{order.customer}}</td>
        <td>{{order.destination}}</td>
        <td>{{order.event_name}}</td>
        <td>{{order.id}}</td>
        <td>{{order.item}}</td>
        <td>${{order.price/100}}</td>
        <td>{{order.sent_at_second}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import Vue from 'vue';
import io from 'socket.io-client';
import _ from 'lodash';

export default {
  name: 'App',
  data() {
    return {
      orders: {},
      search: '',
      pricedOrders: {},
    };
  },
  created() {
    this.socket = io('localhost:4000');
  },
  mounted() {
    this.socket.on('order_event', (data) => {
      for (let i = 0; i < data.length; i += 1) {
        const order = data[i];
        Vue.set(this.orders, order.id, order);
        if (this.pricedOrders[order.price / 100]) {
          this.pricedOrders[order.price / 100].push(order.id);
          this.pricedOrders[order.price / 100] = _.union(
            this.pricedOrders[order.price / 100],
            [order.id],
          );
        } else {
          this.pricedOrders[order.price / 100] = [order.id];
        }
      }
    });
  },
  computed: {
    filteredList() {
      let filteredOrder = Object.values(JSON.parse(JSON.stringify(this.orders)));
      if (this.search === '') return filteredOrder;
      filteredOrder = [];
      const filteredID = this.pricedOrders[parseFloat(this.search)];
      if (!filteredID) return [];
      debugger;
      for (let i = 0; i < filteredID.length; i += 1) {
        filteredOrder.push(JSON.parse(JSON.stringify(this.orders[filteredID[0]])));
      }
      return filteredOrder;
    },

    count() {
      return this.filteredList.length;
    },
  },
};
</script>
<style lang="scss">
body {
  margin: 0;
}
</style>

<style lang="scss" scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  input, .count, th {
    position: sticky;
  }
  input {
    top: 0; /* Don't forget this, required for the stickiness */
    width: 100%;
  }
  table {
    width: 100%;
  }
  .count {
    background: white;
    top: 22px;; /* Don't forget this, required for the stickiness */
  }
  .header {
    th {
      background: red;
      color: white;
    }
  }
  th {
    background: white;
    top: 44px;; /* Don't forget this, required for the stickiness */
  }
}
</style>
